@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorBlue: #0969A4;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue2: #00AFEF;
$colorGreen: #00A357;


$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin family {
    font-family: 'Source Sans Pro', "Arial Narrow", Arial, Helvetica, sans-serif;

}

@mixin family_Philosopher {
    font-family: "Philosopher", "Arial Narrow", Arial, Helvetica, sans-serif;
}

@mixin Inter {
    font-family: 'Inter Variable', sans-serif;
}

@mixin Roboto {
    font-family: 'Roboto Flex Variable', sans-serif;
}
.c__title_manager {
    position: relative;
    h3, h4 {
        padding: 24px 0 10px 0;
        margin-bottom: 18px;
        font-size: 19px;
        font-weight: 600;
        border-bottom:2px solid #E0E0E0 ;
        position: relative;
    }
    h3:after,   h4:after {
        position: relative;
        content: '';
        display: flex;
        width: 68px;
        height: 2px;
        background: $colorBlue;
        bottom: -12px;

    }
}
