@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorBlue: #0969A4;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue2: #00AFEF;
$colorGreen: #00A357;


$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin family {
    font-family: 'Source Sans Pro', "Arial Narrow", Arial, Helvetica, sans-serif;

}

@mixin family_Philosopher {
    font-family: "Philosopher", "Arial Narrow", Arial, Helvetica, sans-serif;
}

@mixin Inter {
    font-family: 'Inter Variable', sans-serif;
}

@mixin Roboto {
    font-family: 'Roboto Flex Variable', sans-serif;
}

.web_c_flex {
    display: flex;
    justify-content: space-between;

    .web_c__left {
        width: 11%;
        min-width: 88px;
    }

    .web_c__center {
        width: 78%;
    }

    .web_c__right {
        width: 10%;
        min-width: 80px;
    }

    .paper {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0 0 0;
        border: none !important;
        background: none !important;
        width: 100% !important;

        svg {
            transition: 0.2s;

            width: 30px;
            height: 30px;
            color: $colorGrey;

        }

        &:hover {
            svg {
                width: 30px;
                height: 30px;
                color: $colorRed;
            }
        }
    }


}

.web_comments_wrap {
    padding: 20px 0 10px 0;
}

.web_comment_wrap {
    padding: 11px 0 0 0;
}

.web_comment {
    padding: 1px 0 0 0;

    .web_comment__flex {
        display: flex;
        padding: 0 0 20px 0;
        margin: 0;
    }

    .web_comment__avatar {
        width: 50px;
        min-width: 50px;

        .user25__avatar_img {
            border-radius: 26px;
            display: block;
        }
    }

    .web_comment__text_wrap {
        width: 100%;
        min-height: 50px;
        margin: 0 0 0 10px;
        padding: 0 35px 34px 0;
        border-bottom: 1px solid rgb(224, 224, 224);
    }

    .web_comment__text {
        line-height: 1.4em;

    }

    .web_comment_date__flex {
        display: flex;
        min-height: 30px;
        position: relative;

        .web_comment__date {
            color: #999999;
            font-size: 15px;
            position: relative;
            top: 10px;
            margin-right: 26px;
            display: flex;
            align-items: center;
        }

        .web_comment__answer {
            color: $colorBlue;
            font-size: 15px;
            position: relative;
            top: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        .web_comment__answer:hover {
            text-decoration: underline;
        }
    }

    .show_answer_form {
        padding: 10px 0;
    }
}

.comment_answer {
    padding: 26px 0 0 0;

    .web_c_answer_left {
        width: 100%;

    }

    .web_c_answer_right {
        min-width: 80px;

    }

}

.livewire_component__comment {
    padding: 20px 0 0 0;
}

.web_comment__delete {
    position: relative;

    button {
        width: 30px;
        min-width: 30px;
        height: 30px;
        color: $colorRed;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0;
        border: none !important;
        background: none !important;

    }

    svg {
        width: 20px;
        min-width: 20px;
        height: 20px;
        color: $colorRed;
        position: absolute;
        cursor: pointer;
    }

    svg:hover {
        color: red;
    }
}


.web_comment__find {
    padding-top: 30px;

    .web_comment__text_wrap {
        padding-right: 0;
        padding-bottom: 16px;
    }

    .web_comment__text {
        min-height: 40px;
        padding-right: 26px;

    }

    .web_comment__flex:last-child {
        padding-bottom: 0;

        .web_comment__text_wrap {
            border-bottom: none;
        }
    }

    .comment_find__delete {
        button {
            top: inherit;
            bottom: -6px;
            right: 0;


        }
    }


    .web_comment_date_find__flex {
        padding-top: 16px;
        justify-content: space-between;
        width: 100%;

        .web_comment__date {
            top: 0;
        }
    }

}


.error_comment {
    position: relative;
    width: 100%;

    .errorBlade {
        padding: 0 !important;
    }
}

@media screen and (max-width: 468px) {
    .web_comments {


            .web_c_avatar {
                min-width: 69px;
                .site_avatar {
                    width: 50px !important;
                    height: 50px !important;
                }

        }
        .web_c_flex .web_c__right {
            width: 10%;
            min-width: 50px;
        }
    }
    .web_comment {
        font-size: 14px;

        .web_comment__avatar {
            width: 40px;
            min-width: 40px;

            a {
                width: 30px !important;
                height: 30px !important;
            }

        }

        .web_comment__text_wrap {
            padding-right: 16px;
        }

        .web_comment__text {
            padding-right: 6px;
        }

        .comment_answer {
            .web_c_answer_right {
                min-width: 50px;
            }
        }
    }

}


